[submodule "cpp/third_party/eigen"]
	path = cpp/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "cpp/third_party/pybind11"]
	path = cpp/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.11
[submodule "cpp/third_party/Catch2"]
	path = cpp/third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
